HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### MAC DS_Store exclude
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
/src/main/resources/static/static/css
/src/main/resources/static/static/js
application.properties
/src/main/resources/application-oauth.properties

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Ignore serviceAccountKey.json file
resources/serviceAccountKey.json


resources/application.properties
resources/application-oauth.properties
