#cart #title{
    display: flex;
    margin-top: 100px;
    margin-left: 10%;
}

#cart #step{
    display: flex;
    margin-top: 50px;
    margin-left: 58%;
    font-size: 18px;
    color: #B6B6B6;
}

#cart #step .now {
    font-weight: bold;
    color: black;
}

#cart #row {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 15%;
    width: 70%;
    height: 50px;
    border-top: 2px solid black;
    border-bottom: 1px solid #d9d9d9;
    font-size: 18px;
}

#cart #row span {
    color: #776F6F;
    margin: 0 70px 0 70px;
}

#cart #row span.class {
    color: black;
    font-weight: bold;
    margin: 0 200px 0 100px;
}

#cart #cart-list {
    width: 70%;
    margin-left: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d9d9d9;
    font-size: 18px;
}

#cart #cart-list .cart-item {
    padding-top: 20px;
    padding-bottom: 20px;
    vertical-align: middle;
}

#cart #cart-list .cart-item span {
    margin-left: 20px;
    margin-right: 20px;
}

#cart #cart-list .cart-item span.class-name {
    display: inline-block;
    width: 340px;
    text-align: left;
    margin-left: 50px;
}

#cart #cart-list .cart-item span.count {
    display: inline-block;
    width: 30px;
    text-align: center;
}

#cart #cart-list .cart-item span.date {
    display: inline-block;
    width: 240px;
    text-align: center;
    vertical-align: middle;
}

#cart #cart-list .cart-item span.price {
    display: inline-block;
    width: 110px;
    text-align: center;
}

#cart #cart-list .cart-item button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

#cart #cart-list .cart-item button.minus {
    border-radius: 50%;
    background-color: #F5F5F5;
}

#cart #cart-list .cart-item button.plus {
    border-radius: 50%;
    background-color: #FFF5D9;
}