.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }



  input {
    width: 80%;
    height: auto;
    padding: 10px 15px;
    color: var(--second-color);
    font-size: 16px;
    border: 1px solid var(--second-color);
    border-radius: 5px;
    outline: none;

    &:focus {
      border: 3px solid var(--second-color);
      border-radius: 5px;
    }

  }

  button {
    width: 80%;
    margin-top: 10px;
    padding: 15px 40px;
    color: #fff;
    font-size: 14px;
    background: var(--main-color);
    border: 1px solid var(--main-color);
    cursor: pointer;
    transition: 0.3s all ease;

    &:hover {
      background: var(--second-color);
    }
  }

  label {
    width: 100%;
  }

}

.form_error {
  position: relative;
  display: block;
  width: 80%;
  margin-top: 15px;
  padding: 5px;
  color: #fff;
  font-size: 13px;
  background: var(--second-color);
  border: 1px solid var(--second-color);
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 16%) 0 3px 6px, rgb(0 0 0 / 23%) 0 3px 6px;
}

.ch1 {
  label {
    text-align: left;
  }
  input {
    width: 4%;
  }
}

.member_save{
  margin: 3rem 0 0 0;
  width: 100%;
  img{
    width: 100px;
  }
  p{
    font-size: 1.2rem;
  }


}
.link_a{
  width: 50%;
  display: flex;
  justify-content: center;
  background-color: #F52334;
  height: inherit;
  border-radius: 0 0 0 25px;
  a{
    line-height: 2.8;
    color: #fff;
  }
}
.link_al{
  width: 50%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  height: inherit;
  border-radius: 0 0 25px 0;
  a{
    line-height: 2.8;
    color: #F52334;
  }
}

.link_b{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #F52334;
  height: inherit;
  border-radius: 0 0 0 25px;
  a{
    line-height: 2.8;
    color: #fff;
  }
}


.modal {
  z-index: 9;
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  margin-left: 25%;
  margin-top: 20%;
  display: flex;
  border-radius: 10px;
  position: absolute;
  justify-content: center;
  box-shadow: rgb(0 0 0 / 35%) 0 5px 15px;
}

.categoryTable {
  width: 100%;
  margin-top: 2rem;

  thead {
    position: relative;
    :after {
      content: "";
      width: 100%;
      bottom: 0px;
      left: 0;
      right: 0;
      border-bottom: 0.5px solid rgb(192, 192, 192);
      position: absolute;
    }
  }

  th {
    font-weight: 300;
    color: #776F6F;
    line-height: 1.6rem;
    font-size: 0.8rem;
  }


  tbody {
      tr {
        line-height: 2.2;
      }
  }

  td {
    font-size: 0.8rem;
    text-align: center;
  }
}

.editOptions {
  img {
    width: 20%;
  }
}

.editOptions:hover .editIcons {
  display: flex;
  flex-direction: column;
  width: 70px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px;

}

.editIcons {
  display: none; /* 기본적으로 숨김 */
  position: absolute;
  right: 0;
  cursor: pointer;
  transform: translate(10px, -15px);
}

.edit, .delete {
  line-height: 1.8;
  color: #401E20; /* 삭제는 빨간색 */
  background-color: #fff;
  border: transparent;
}
.edit:hover {
  color: #F52334;
}
.delete:hover {
  color: #F52334;
}

.Announcements{
  width: 85%;
  margin: 0 auto;
  margin-top: 10rem;
  max-width: 1200px;
  position: relative;
  margin-bottom: 8rem;

  div{
    width: 100%;
    margin: 0 auto;
    max-width: 850px;
    padding: 3rem 4rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px;
  }

  form {
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 2.2rem;
    }
    label {
      font-size: 1.2rem;
    }
    input{
      height: 30px;
      border: transparent;
      border-bottom: 1px solid #000;
      margin: 1rem 0rem 2rem 0;
    }
    textarea{
      height: 300px;
      margin-top: 2rem;
    }

  }


}
