#search-tab {
    font-size: 16px;
    padding-bottom: 40px;
    border-bottom: 1px solid #776F6F;
}

#search-tab .drop-down {
    margin-left: 20px;
}

#search-tab .drop-down select {
    color: #B6B6B6;
    font-size: 16px;
    padding-left: 10px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}

#search-tab input {
    margin-left: 20px;
    width: 232px;
    height: 40px;
    border-radius: 10px;
    border-color: #B6B6B6;
}

#search-tab button {
    font-size: 16px;
    margin-left: 22px;
    width: 85px;
    height: 40px;
    border-radius: 10px;
    border-color: #f52334;
    background-color: #f52334;
    color: white;
    cursor: pointer;
}

.count {
    margin-top: 30px;
    font-size: 16px;
}

.count .number {
    color: #f52334;
}

.column-name {
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #776F6F;
}

.column-name span {
    font-size: 12px;
    margin: 0 35px 0 35px;
}

.column-name span.email {
    margin: 0 70px 0 70px;
}

#member-list {
    margin-top: 10px;
}

#member-list span {
    display: inline-flex;
    justify-content: center;
    font-size: 12px;
    width: 104px;
}

#member-list span.email {
    width: 173px;
}

#member-list span.buttons {
    width: 140px;
}

#member-list span.buttons button {
    margin-left: 5px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
}

#member-list span.buttons button.update {
    border-color: #f52334;
    color: #f52334;
    background-color: white;
}

#member-list span.buttons button.delete {
    border-color: #f52334;
    color: white;
    background-color: #f52334;
}