a {
  text-decoration: none;
  color: black;
}
h3{
border-bottom: 2px solid black;
display: inline-block;
}
button{
 cursor:pointer;
}
.class-reservation-page {
    display: flex;
    margin-top:100px;
    justify-content: center;

}

.class-area{
      margin:1rem 0 0 0;
      justify-content: center;
      align-items: center;
}
#class-img-top {
 max-width:70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8; /* 아이보리색과 유사 */
  padding: 20px;
  border-radius: 10px;

}

#class-img-top img {
  width: 100%;
  height: 300px;
}

#class-img-top-small {
  display: flex;
   max-width:70%;
  justify-content: space-around; /* 이미지들 사이에 공간을 균등하게 배분 */
  padding: 15px;
}

#class-img-top-small img {
  width: 100px;
  height: auto;
  margin: 0 10px;
  border-radius: 5px;
  background-color: #f8f8f8;
  padding: 5px;
}
#class-grade-line{
      max-width:70%;
    display: flex;
    align-items: center; /* 세로축 가운데 정렬 */
    justify-content: space-between;
    gap: 10px; /* 아이템 간격 */
}
#class-grade-line button{
    margin-right: 150px;
}
#class-grade-line img{
      width: 30px;
      height: auto;
}
#class-grade{
       display: flex;
       align-items: center;
       margin-right:10px;
}
.class-info2{
    max-width:70%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
   background-color: #FFFCF4;
    border-radius: 5px;
    padding: 20px;
}
.class-info2 img{

    margin:10px 0 10px 0;
    width: 100%;
    max-height: 300px;

    border-radius: 5px;
}
#map{

    margin-top:10px;
    border-radius: 10px;
    max-width: 100%;
}
#curriculum-area{
    margin:10px 0 10px 0;
    padding:15px;
    width:92%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:white;
    border-radius: 5px;
}

#review-area{
    margin:10px 0 10px 0;
    padding:15px;
    width:92%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:white;
    border-radius: 5px;
}


#highlight-red{
    color: red;
}



/* 캘린더 */
.react-calendar {
    background: #FFFCF4;
    border-radius: 10px;
    border: 1px solid var(--festie-gray-400, #c8c8c8); /* 전체 틀: border, border-radius 조정*/
  }
.react-calendar__label {
   color: gray;

}
  .react-calendar__navigation__label > span {
    /* 달력 상단 년/월 글씨 커스텀*/
    color: var(--festie-gray-800, #3a3a3a);
    font-family: SUIT Variable;
    font-size: 13px;
    font-weight: bold;
    line-height: 140%;

  }
   .react-calendar__month-view{
        border-radius: 10px;
   }
  .react-calendar__month-view__days__day--weekend {
    /* 주말 글씨 빨간색 없애기*/
    color: var(--festie-gray-800, #3a3a3a);
  }
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    /*hover 했을 때 색상 변경*/
    border-radius: 50px;
    background: var(--festie-primary-red, #F52334);
  }
  /*오늘 날짜 하이라이트 커스텀*/
  /*
  .react-calendar__tile--now {
    background: #FFF5D9;
    border-radius: 50px;
    font-weight: bold;
    color: var(--festie-gray-800, #3a3a3a);
  }*/

  .react-calendar__tile--active {
    background: #F52334;
    color: white;
    border-radius: 50px;
  }
#person-price{
    margin-bottom:15px;
}
#calender-notice{
    margin: 30px 0 10px 0;
    font-weight:bold;
    text-align: center;
    background-color: #FFF5D9;
    border-radius: 5px;
    padding:3px 3px;
}
#time-area button{
    width :95%;
    margin: 20px 0 5px 0;
    font-weight: bold;
    border: #F52334 2px solid;
    color: #F52334;
    border-radius: 8px;
    background-color:transparent;
    font-size: 20px;
}
#remaining-seats{
    margin-bottom: 30px;
}
#time-area button:hover,
#time-area button:focus,
#time-area button:active{
    background-color:#F52334;
    color: white;
}

#time-area button.on{
     background-color:#F52334;
     color: white;
}
/*button styles*/
#red-button button{
  margin-left: 5px;
  background-color:transparent;
  border-radius: 5px;
  border: #F52334 2px solid;
  color: #F52334;
  padding: 5px;
  font-size: 13px;
  font-weight: bold;
}
#person-price button{
    border-radius: 50px;
    background: #FFF5D9;
    font-weight: bold;
    border:none;
 }
#red-button2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
    margin-top: 10px;
}
#red-button2 button{
  margin: 10px 0 30px 0px;
  background-color:#F52334;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px 25px 10px 25px;
  font-weight: bold;
  font-size: 16px;
}



/* 모달 CSS */
.modal-buttons {
  display: flex;
  width:auto;
  justify-content: space-between;
  gap:30px;
  margin-top: 60px;
}

.modal-close-btn,
.modal-confirm-btn {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.modal-close-btn {
  background-color: #ccc; /* 회색 배경 */
}

.modal-confirm-btn {
  background-color: red; /* 빨간색 배경 */
}


.review-modal h3 {
    border:none;
}
.review-modal p,
.review-modal h2{
    color: #F52334;
}
.review-header {
  /* 모달 헤더를 위한 스타일 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.close-button {
  /* 닫기 버튼을 위한 스타일 */
  background: none;
  border: none;
  cursor: pointer;
}

.review-body {
  /* 모달 본문을 위한 스타일 */
  display: flex;
}

.review-left-area, .review-right-area {
  /* 왼쪽, 오른쪽 영역을 위한 스타일 */
  flex: 1;
  padding: 10px;
}

#input-review {
  /* 텍스트 입력 영역을 위한 스타일 */
  width: 100%;
  height: 120px;
  margin-top: 10px;
}

.review-footer {
  /* 모달 푸터를 위한 스타일 */
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.modal-close-btn, .modal-confirm-btn {
  /* 버튼들을 위한 스타일 */
  padding: 5px 20px;
  margin: 0 10px;
  border: none;
  cursor: pointer;
}

