
/*나의클래스 예약관리*/
div.my-reservation{
    margin-top: -500px;
}

/*나의클래스*/
div.my-reservation p {
    margin-left: 410px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 25px;
}

/*예약관리*/
div.my-reservation a{
    margin-left: 410px;
    font-weight: bold;
    font-size: 25px;
}

/*진행중인 예약*/
h3.now-reservation{
    margin-left: 410px;
    margin-top: 50px;

}

/*상자, 전체*/
div.my-now-reservation{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin-top: -530px;
    margin-bottom: 20px;

}

/*상자*/
div.now-reservation {
    position: relative;
    overflow: visible; /*스크롤바 없이 위로 올림*/
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    padding: 20px;
    left: 310px;
    margin-top: 530px;

}


/*이미지 들어갈 원형*/
div.circle {
    width: 100px;
    height: 100px;
    background-color: #FFF5D9;
    border-radius: 50%; /* 원을 만들기 위해 반지름을 50%로 설정 */
    margin-top: 10px;
    margin-left: 100px;
}

/*상자 안 글자*/
div.title {
    margin-top: -100px;
    margin-left: 250px;
    font-size: 15px;
    font-weight: bolder;
    align-content: center;

}

/*상자 안 글자 a태그 간격*/
div.title a{
    width: 100%;
    margin-right:50px;
}

/*버튼 모두*/
div.reservation-button{
    margin-left: 820px;
    margin-top: -15px;
}
