/*가장 바깥을 감싸는 컨테이너*/
div.user-home-container {
    margin-bottom: 200px;
}


/*님, 반갑습니다*/
div.welcome-user-home {
    margin-left: 610px;
    margin-top: -460px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
}

/*님 반갑습니다 줄 간격*/
.user-hello{
    margin-top: -20px;
}

 /*모든 '진행중인' 해당하는 요소 - 데이터값이 있을 때*/
div.user-home-now{
    margin-left: 430px;
}


/*'진행중인 예약' 글씨*/
h3.userhome-reservation-nowh3 {
    margin-top: 70px;
    margin-bottom: -30px;
    font-size: 20px;
}

/*'진행중인 예약' 박스*/
div.userhome-reservation-now {

        width: 800px;
        height: 140px;
        background-color: #FFFFFF;
        border: 2px solid #D9D9D9;
        margin-top: 50px;
        border-radius: 10px;
}

/*원형div*/
div.userhome-now-circle {
    /*display: flex;*/
    width: 100px;
    height: 100px;
    background-color: #FFF5D9;
    border-radius: 50%; /* 원을 만들기 위해 반지름을 50%로 설정 */
    margin-top: 20px;
    margin-left: 40px;
    overflow: hidden;
}

/*원형div안에 담기는 이미지 - 예약*/
.reservation-now-circle-image {
    width: 100px; /* 이미지 크기 조절 */
    height: 100px;
    border-radius: 50%; /* 이미지를 원 모양으로 */
    object-fit: cover; /* 이미지가 원 안에 꽉 차도록 */
}



/*진행중인 클래스 글씨*/
h3.userhome-class-nowh3{
    margin-top: 70px;
    margin-bottom: -30px;
    font-size: 20px;

}

/*진행중인 클래스 박스*/
div.userhome-class-now {
    width: 800px;
    height: 140px;
    background-color: #FFFFFF;
    border: 2px solid #D9D9D9;
    margin-top: 50px;
    border-radius: 10px;
}

/*예약관련 글자 전체*/
div.title-user-home {
    /* 내부 요소들 가운데 정렬 */
    margin-left: 170px;
    margin-top: -120px;
}

/*원형div안에 담기는 이미지 - 클래스*/


/*클래스이름, 예약날짜, 결제금액*/
/*데이터는 span태그 또는 p태그에 동일한 className으로 동일하게 정렬*/
div.title-user-home p {
    float: left; /*왼쪽부터 가로정렬*/
    margin-left: 30px;
    margin-right: 95px;
    font-size: 18px;
    font-weight: bold;
}

/*예약데이터 값*/
div.data-user-home {
    margin-top: 20px;
    margin-left: 170px;
}
div.data-user-home p{
    float: left; /*왼쪽부터 가로정렬*/
    margin-left: 40px;
    margin-right: 95px;
    font-size: 18px;
}

/*클래스 운영 데이터*/
div.data-user-home-class{
    margin-top: 20px;
    margin-left: 170px;
}
div.data-user-home-class p{
    float: left; /*왼쪽부터 가로정렬*/
    margin-left: 40px;
    margin-right: 95px;
    font-size: 18px;
}

/*----------------데이터값이 없을 떄---------------*/

/*모든 '진행중인' 해당하는 요소 - 데이터값이 없을 때*/
div.userhome-none{
    margin-left: 430px;
}

/*'진행중인 예약' 없을때 박스*/
div.userhome-reservation-none {

    width: 800px;
    height: 140px;
    background-color: #FFFFFF;
    border: 2px solid #D9D9D9;
    margin-top: 50px;
    border-radius: 10px;
    text-align: center;
    align-content: center;
}

/*'진행중인 클래스' 없을때 박스*/
div.userhome-class-none {
    width: 800px;
    height: 140px;
    background-color: #FFFFFF;
    border: 2px solid #D9D9D9;
    margin-top: 50px;
    border-radius: 10px;
    text-align: center;
    align-content: center;
}
