div.user-delete-container{
    margin-bottom: 300px;
}

div.my-delete{
    margin-top: -500px;
}

/*회원탈퇴*/
div.my-delete p{
    margin-left: 410px;
    font-weight: bold;
    font-size: 25px;
}

.delete-user-menu{
    margin-top: -20px;
}

/*탈퇴안내 전부*/
div.delete-container{
    margin-left: 150px;
}

/*img*/
div.damda-delete-img{
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center;
    margin-top: 70px;
    font-size: 20px;
    font-weight: bolder;
}

/*더 이상 즐거운 클래스들을 만날 수 없습니다.*/
div.delete-ask2{
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center;
    margin-top: 50px;
    font-size: 15px;
    font-weight: bolder;
}

div.delete-button{
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center;
    margin-top: 50px;
}