.user-button{
    width: 100px;
    height: 40px;
    font-weight: bold;
}

/*예약취소*/
.reservation-delete {
    background-color: #FFFFFF;
    border: 3px solid #F52334;
    color: #F52334;
    font-size: 15px;
    border-radius: 10px;
    font-weight: bold;
    width: 100px;
    height: 40px;

}

/*예약변경*/
.reservation-update {
    background-color: #F52334;
    border: 1px solid #F52334;
    color: #FFFFFF;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    width: 100px;
    height: 40px;
    margin-bottom: 5px;

}



/*클래스 수정*/
.class-update{
    background-color: #F52334;
    border: 1px solid #F52334;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 15px;


}

/*개인정보변경*/
.userinformation-update{
    background-color: #F52334;
    border: 1px solid #F52334;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    width: 120px;

}

/*탈퇴하기*/
.user-delete{
    background-color: #F52334;
    border: 1px solid #F52334;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
}