* {
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
    overflow-x: auto; /* 가로 스크롤이 필요한 경우에만 스크롤 표시 */
}

div.welcome-user{
    margin-top: -40px;
    font-size: 25px;
}

div.welcome-user p {
    position: absolute;
    margin-left: 610px;
    margin-top: -450px;
    margin-bottom: 10px;
    font-weight: bold;
}

div.welcome-user a{
    position: absolute;
    margin-top: -410px;
    margin-left: 610px;
    font-weight: bold;
}

div.now{
    margin-top: -330px;
    margin-bottom: 150px;
}

div.reservation-now {
        width: 800px;
        height: 140px;
        background-color: #FFFFFF;
        border: 1px solid #D9D9D9;
        border-radius: 2px;
        padding: 20px;
        margin-left: 430px;
        margin-top: 50px;
}

div.class-now {
    width: 800px;
    height: 140px;
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    padding: 20px;
    margin-left: 430px;
    margin-top: 80px;
}

div.circle {

    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #FFF5D9;
    border-radius: 50%; /* 원을 만들기 위해 반지름을 50%로 설정 */
    margin-top: 20px;
    margin-left: 30px;
}

h3.reservation-now {
    margin-left: 430px;
    margin-top: 20px;
    margin-bottom: -40px;
    font-size: 20px;
}

h3.class-now{
    margin-left: 430px;
    margin-top: 30px;
    margin-bottom: -70px;
    font-size: 20px;
    position: relative; /* 위치를 조정하기 위해 부모 요소를 relative로 설정 */
    display: flex;

}

div.now a {
    margin-left: 130px;
    font-size: 18px;
    font-weight: bold;
    align-content: center;
}

div.title {
    margin-left: 100px;
    margin-top: 20px;
}
