div.welcome-user p {
    margin-left: 610px;
    margin-top: -410px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
}

div.welcome-user a{
    margin-left: 610px;
    font-weight: bold;
    font-size: 30px;

}

div.reservation-now {
        width: 800px;
        height: 140px;
        background-color: #FFFFFF;
        border: 1px solid #D9D9D9;
        border-radius: 2px;
        padding: 20px;
        margin-left: 430px;
        margin-top: 50px;
}

div.class-now {
    width: 800px;
    height: 140px;
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    padding: 20px;
    margin-left: 430px;
    margin-top: 80px;
}

div.circle {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #FFF5D9;
    border-radius: 50%; /* 원을 만들기 위해 반지름을 50%로 설정 */
    margin-top: 20px;
    margin-left: 30px;
}

h3.reservation-now {
    margin-left: 430px;
    margin-top: 70px;
    margin-bottom: -30px;
    font-size: 24px;
}

h3.class-now{
    margin-left: 430px;
    margin-top: 70px;
    margin-bottom: -60px;
    font-size: 24px;
    position: relative; /* 위치를 조정하기 위해 부모 요소를 relative로 설정 */
    display: flex;

}

div.class-now a {

    margin-left: 20px;
    align-items: center;
    font-size: 18px;
}
