/*폰트
@import url('링크');

body {
    font-family: 'Nanum Gothic', serif
}
*/

/*구분선*/
hr {
    width: 170px;
    margin-left: 130px;
}

/*MyPage*/
p#mypage{
    margin-left: 140px;
    margin-top: 195px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: inherit;
}

/*나의클래스, 회원정보*/
p#myclass, p#userinformation{
    margin-left: 100px;
    margin-top: 10px;
    font-size: 22px;
    font-weight: bolder;
}

li{
    list-style-type: none;
    font-size: 20px;
    margin-left: 100px;
    margin-bottom: 10px;
}