:root {
  --main-color: #717482;
  --second-color: #767A89;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  width: inherit;
}

// 각 페이지 컴포넌트를 위한 wrapper
.page {
  flex: 1 1 auto;
  margin-top: 9rem;
  text-align: center;

}

// page 안에 있는 wrapper
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 5px;

}
// form 형식
.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: auto;
  margin: 80px auto;
  box-shadow: rgb(0 0 0 / 35%) 0 5px 15px;
  max-width: 700px;
  border-radius: 5%;

  a {
    color: var(--main-color);

    &:hover {
      color: var(--second-color);
      cursor: pointer;
      transition: 0.3s all ease;
    }
  }
}

.text-c {
  margin-bottom: 3rem;
}
.link-box{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  align-items: center;
}

.modal-backdrop {
  position: fixed; // 화면 전체를 커버하기 위해 fixed 포지션 사용
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); // 검은색 배경에 투명도 50%
  z-index: 1; // 모달보다 낮지만 다른 요소들보다는 높은 z-index
  display: flex;
  justify-content: center;
  align-items: center;
}


.modal-content{
  width: 100%;
  margin: 0 auto;
  position: relative;


  .close{
    position: absolute;
    right: 10%;
    top: 10%;
  }

  form{
    display: flex;
    flex-direction: column;
    padding: 7rem 0 0 0;
  }
  label {
    margin: 0 auto;
    margin-bottom: 7rem;
    width: 85%;

    input {
      width: 65%;
      margin-left: 2rem;
      height: 30px;
    }
  }

  .modal-button{
    width: 100%;
    display: flex;
  }

}

.rightbutton{
  width: 50%;
  height: 50px;
  background-color: #F52334;
  border: solid transparent;
  border-radius: 0 0 9px 0;
  color: #fff;
  font-size: 1.2rem;
}
.leftbutton{
  width: 50%;
  height: 50px;
  background-color: #fff;
  border: solid transparent;
  border-radius: 0 0 0 9px;
  color: #F52334;
  font-size: 1.2rem;
  border: 2px solid;
}

.create {
    display: flex;
    justify-content: flex-end;
}

.category-create{
  border: 1px solid #F52334;
  width: 120px;
  height: 39px;
  border-radius: 5px;
  background-color: #fff;
  color: #F52334;
}

.modal-body{
  margin: 0 auto;
  width: 90%;
  text-align: center;
  padding: 5rem 0;

  p {
    line-height: 1.6;
  }
}






