
.class-open-page {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px;
}

.class-information-input-area {
    width: 60%;
    height: 100%;
    display: flex;
    align_items: center;
    border: 1px solid black;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 30px;
}

.input-area {
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.class-registration {
    display: flex;
    justify-content: center;
    height: 80px;
    margin-top: 20px;
}

.class-name-input-area {
    display: flex;
    justify-content: center;
    align_items: center;
    height: 40px;
    width: 100%;
    margin-top: 20px;
}

.class-name {
    display: flex;
    justify-content: center;
    flex: 3; /* 너비 비율 지정 */
    text-align: center;
    flex-direction: column;
    margin-left: 30px;
}

.class-name-input-group {
    justify-content: center;
    flex: 7; /* 너비 비율 지정 */
    margin-right: 70px;
}

.input-group {
    width: 100%;
}

.form-control {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid #dcdcdc;
}

.class-explain-input-area {
    display: flex;
    justify-content: center;
    align_items: center;
    height: 40px;
    width: 100%;
    margin-top: 20px;
}

.class-explain {
    display: flex;
    justify-content: center;
    flex: 3; /* 너비 비율 지정 */
    text-align: center;
    flex-direction: column;
    margin-left: 30px;
}

.class-explain-input-group {
    justify-content: center;
    flex: 7; /* 너비 비율 지정 */
    margin-right: 70px;
}

.class-detail-information-area {
    margin-top: 40px;
    display: flex;
}

.level-area,
.category-area,
.longtime-area {
    flex: 1; /* 동일한 비율로 너비 지정 */
    padding: 40px;
    flex-direction: column;
    justify-content: center;
}

.class-level,
.class-category,
.class-longtime {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.class-schedule-setting-area {
    display: flex;
    flex-direction: column;
}

.schedule-group {
    display: flex;
    padding: 30px;
}

.class-start-time-space {
    flex: 3; /* 너비 비율 지정 */
    display: flex;
    flex-direction: column;
}

.class-end-time-space {
    flex: 3; /* 너비 비율 지정 */
    display: flex;
    flex-direction: column;
}

.class-headcount-max-space {
    flex: 2; /* 너비 비율 지정 */
    display: flex;
    flex-direction: column;
}

.class-schedule-delete-space {
    flex: 2; /* 너비 비율 지정 */
    display: flex;
    flex-direction: column;
}

.schedule-add-button-zone {
    display: flex;
    justify-content: center;
}

.class-open-date-info-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.close-date-setting-space {
    display: flex;
    align-items: center;
}

.address-search-zone {
    display: flex;
    align-items: center;
}

.address-name {
    display: flex;
    flex: 3;
}

.class-address-serach-group {
    display: flex;
    flex: 7;
    margin-left: 30px;
    margin-right: 70px;
}

.detail-address-input-zone {
    margin-left : 50px;
    margin-right: 70px;
}
